{{ 'section-lop-product.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  <div class="lop-product page-width ">
    <div class="image-gallery  {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      <div class="image-thumbnails-container vertical-slider">
        {% for image in product.images %}
          <div class="thumbnail-wrapper">
            {{ image | image_url: width: 200 | image_tag: width: image.width }}
          </div>
        {% endfor %}
      </div>
      <div class="main-view-container">
        {% for image in product.images %}
          <div class="main-view-image-wrapper">
            {{ image | image_url: width: 713 | image_tag: width: image.width }}
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="product-info">
      <div class="product-heading">
        <h1 class="h2">
          {{ product.title }}
        </h1>
      </div>
      <div class="product-sku">
        <h1 class="h3">
          {{ product.selected_or_first_available_variant.sku }}
        </h1>
      </div>
      <div class="product-shipping-badge">
        {% if product.metafields.shipping.free_shipping %}
          <div class="card__badge left badge--free-shipping">
            <span
              id="NoMediaStandardBadge-{{ section_id }}-{{ card_product.id }}"
              class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}"
            >
              {{- 'products.product.free_shipping' | t -}}
            </span>
          </div>
        {% endif %}
      </div>
      <div class="product-price">
        {%- render 'price',
          product: product,
          use_variant: true,
          price_class: 'price--large',
          show_compare_at_price: true
        -%}
      </div>
      <div class="product-installments">
        <span>
          {% if product.metafields.payment.installments %}
            {{- 'products.product.installments' | t -}}
          {% endif %}
        </span>
      </div>
      <div class="product-add-to-cart">
        <div
          id="Quantity-Form-{{ section.id }}"
          class="product-form__input product-form__quantity{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} product-form__quantity-top{% endif %}"
          {{ block.shopify_attributes }}
        >
          <label class="quantity__label form__label" for="Quantity-{{ section.id }}">
            {{ 'products.product.quantity.label' | t }}
            <span class="quantity__rules-cart{% if cart_qty == 0 %} hidden{% endif %}">
              {%- render 'loading-spinner' -%}
            </span>
          </label>
          <quantity-input class="quantity" data-url="{{ product.url }}" data-section="{{ section.id }}">
            <button class="quantity__button" name="minus" type="button">
              <span class="visually-hidden">
                {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
              </span>
              {% render 'icon-minus' %}
            </button>
            <input
              class="quantity__input"
              type="number"
              name="quantity"
              id="Quantity-{{ section.id }}"
              data-cart-quantity="{{ cart_qty }}"
              data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
              min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
              {% if product.selected_or_first_available_variant.quantity_rule.max != null %}
                data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
              {% endif %}
              step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
              value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
              form="{{ product_form_id }}"
            >
            <button class="quantity__button" name="plus" type="button">
              <span class="visually-hidden">
                {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
              </span>
              {% render 'icon-plus' %}
            </button>
          </quantity-input>
        </div>
        <div class="add-to-cart-button">
          <a href="https://www.lop.global" class="button button--primary" target="_blank"> Añadir al carrito </a>
        </div>
      </div>
      <div class="zip-code-calculator" id="Zip-code-{{ section.id }}">
        <div class="input-wrapper" id="Zip-code-{{ section.id }}">
          <label class="zip-code-label form__label" for="Zip-code-{{ section.id }}">
              Codigo postal
          </label>
          <input class="zip-code-input" >
        </div>
        <div class="zip-code-button" for="Zip-code-button-{{ section.id }}">
          <label class="zip-code-label form__label" for="Zip-code-button-{{ section.id }}">
            No sé mi C.P
          </label>
          <a href="https://www.lop.global" class=" button button--primary"> Calcular envio </a>
        </div>
      </div>
      <div class="section-blocks">
        {% for block in section.blocks %}
          <div class="block-container icon-with-text">
            <div class="block-icon">
							{% render 'icon-accordion', icon: block.settings.icon_1 -%}
						</div>
            <div class="block-content">
              <div class="heading h3">{{ block.settings.heading_1 }}</div>
              <div class="content">{{ block.settings.text_1 }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="lop-product product-description page-width">
    <div class="description-heading">
      Descripción
    </div>
    <div class="description-content">
      {{ product.description }}
    </div>
  </div>
</div>
<script defer="defer">
  $('.main-view-container').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: false,
    vertical: false,
    asNavFor: '.image-thumbnails-container',
    initialSlide: 0,
    infinite: true,
    speed: 500,
    draggable: true,
    fade: true,
    cssEase: 'linear',
    responsive: [
      {
        breakpoint: 750,
        settings: {
          arrows: true,
        },
      },
    ],
  });

  $('.image-thumbnails-container').slick({
    slidesToShow: 4,
    slidesToScroll: 1,
    asNavFor: '.main-view-container',
    arrows: true,
    vertical: true,
    focusOnSelect: true,
    verticalSwiping: true,
    initialSlide: 0,
    infinite: true,
  });
</script>
{% schema %}
{
  "name": "Lop product",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "icon-with-text",
      "name": "t:sections.main-product.blocks.icon_with_text.name",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.icon_with_text.settings.content.label"
        },
        {
          "type": "select",
          "id": "icon_1",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "apple",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "banana",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
            }
          ],
          "default": "heart",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.icon_1.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading_1",
          "default": "t:sections.main-product.blocks.icon_with_text.settings.heading_1.default",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.heading_1.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
        },
        {
          "type": "richtext",
          "id": "text_1",
          "default": "<h5>Lorem ipsum dolor sit amet, consetetur</h5>",
          "label": "Contenido"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Lop product"
    }
  ]
}
{% endschema %}
